h1, h2, h3, h4, h5, h6{
    color: #222;
    font-family: 'Helvetica', sans-serif;
}

.camera-body{
    width: 900px;
    height: 470px;
    background: #999;
    width: 800px;
    height: 700px;
    background: lightblue;
    position: absolute;
    top: 100px;
    left: 190px;
    border-radius: 10px;
    border: 2px solid #999;
}

.flash{
    z-index: 1;
    width: 225px;
    height: 190px;
    position: relative;
    top: -70px;
    right: -615px;
}
    
.camera-top{
    height: 200px;
    width: 800px;
    background: #ffdc91;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flash-body{
    width: 325px;
    height: 290px;
    position: relative;
    top: -270px;
    left: 250px;
    border-radius: 5px;
    border: 2px solid #999;
    box-sizing: border-box;
    background: #ffdc91;
    z-index: 2;
}

.flash{
    position: relative;
    height: 200px;
    width: 250px;
    left: 35px;
    top: 40px;
    border: 1px solid #999;
    border-radius: 10px;
    background: #eee;
}

.lense-body{
    position: relative;
    width: 440px;
    height: 460px;
    bottom: 250px;
    left: 200px;
    border-radius: 35px;
    background: #222;
}

.lense{
    position: relative;
    width: 410px;
    height: 410px;
    left: 15px;
    bottom: -30px;
    border: 1px solid silver;
    background-color: #000;
    border-radius: 50%;
}

.lense-inner{
    position: relative;
    width: 20px;
    height: 20px;
    top: 70px;
    left: 40px;
    background: #fff;
    border-radius: 50%;
}

