h1, h2, h3, h4, h5, h6{
    color: #222;
    font-family: 'Helvetica', sans-serif;
}

body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Holga_120_GCFN.jpg/1200px-Holga_120_GCFN.jpg');
}

.camera-body{
    width: 800px;
    height: 670px;
    background: #999;
    position: absolute;
    top: 200px;
    left: 190px;
    border-radius: 5px;
    opacity: 0.8;
    -webkit-perspective: 150px;
    perspective: 150px;
}

.side-1{
    height: 670px;
    width: 0px;
    border-right: 45px solid #999;

}

.flash{
    width: 325px;
    height: 290px;
    position: relative;
    top: -100px;
    left: 315px;
    border-radius: 5px;
    border: 40px solid #222;
    box-sizing: border-box;
    background: #fff;
    -webkit-transform: rotateX(20deg); /* Chrome, Safari, Opera  */
    transform: rotateX(3deg);
}

.lense-body{
    position: relative;
    width: 440px;
    height: 460px;
    bottom: 70px;
    left: 255px;
    border-radius: 35px;
    background: #222;
}

.lense{
    width: 410px;
    height: 410px;
    border: 8px solid #222;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}

